		body{
			
		
		}
		
		
		#CollegeScoreCardVis{
			width: 1500px;
			margin:auto;
			/*border: 5px groove grey;*/
			background: #1e1e1e;
		
		}
		
		
		#SelectorRow {
			width:1500px;


		
		}

		#TitleRow {
			width:2000px;
			height: 200px;
			background: #383838;



		}
		
		
		
		.filters {
			width: 200px;
            height: 500px;
            float: left;
			text-align:center;
			/*border: 1px solid black;*/
		}
		.map {
			width: 800px;
            height: 500px;
            float: left;
			text-align:center;
			/*border: 1px solid black;*/
        }
		.groupSchools {
			width: 500px;
            height: 500px;
            float: right;
			text-align:center;
			/*border: 1px solid black;*/
		}
		
		
		#DisplayRow{
			width:1500px;
		
		}
		
		.groupDetails {
			width: 800px;
            height: 400px;
            float: left;
			text-align:center;
			/*border: 1px solid black;*/
		}
		.selectedSchools {
			width: 700px;
            height: 400px;
            float: right;
			text-align:center;
			/*border: 1px solid black;*/
		}